.env
lib/firebase_options.dart.backup
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
windows/flutter/ephemeral/
build/
.dart_tool/
.packages
